@import url("https://fonts.googleapis.com/css2?family=Red Hat Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
    background: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #DFE6FB;
    font-family: "Red Hat Display";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.main-container {
    background-color: white;
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
}

.image-section {
    margin-bottom: 20px;
}

.image-hero {
    width: 100%;
}

.content-section {
    text-align: center;
    padding-left: 67px;
    padding-right: 67px;
}

.title {
    font-size: 28px;
    color: #1F2E55;
    font-weight: 900;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0px;
    color: #717FA6;
    margin-bottom: 20px;
}

.annual-plan-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(225, 78%, 98%);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 25px;
}

.icon-and-price {
    display: flex;
}

.music-icon {
    margin-right: 20px;
}

.title-and-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.annual-plan {
    font-size: 16px;
    font-weight: 900;
    color: #1F2E55;
}

.price {
    font-size: 16px;
    font-weight: 600;
    color: #717FA6;
}

.change-container {
    width: fit-content;
    border-bottom: 1px solid #382AE1;
    color: #382AE1;
}

.change-container:hover {
    cursor: pointer;
    color: #766CF1;
    border: none;
}

.change {
    position: relative;
    font-size: 14px;
    font-weight: 800;
    top: 3px;
}

.button {
    background-color: #382AE1;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0px;
    color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: -1px 20px 13px 0px hsl(245, 75%, 92%);
    margin-bottom: 30px;
    transition: all .5s ease;
}

.button:hover {
    cursor: pointer;
    background-color: #766CF1;
}

.cancel-order {
    color: #717FA6;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 50px;
    transition: all .5s ease;
}

.cancel-order:hover {
    cursor: pointer;
    color: #1F2E55;
}


/* ----------------Media queries---------------- */

@media only screen and (max-width: 515px) {

    body {
        background: url('images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-color: #DFE6FB;
        background-size: contain;
    }

    .main-container {
        width: 95%;
    }

    .content-section {
        padding-left: 20px;
        padding-right: 20px;
    }

    .title {
        font-size: 22px;
    }

    .description {
        font-size: 15px;
    }

    .annual-plan,
    .price {
        font-size: 14px;
    }

    .change {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1025px) and (max-height: 601px) {
    body {
        overflow: scroll;
        height: fit-content;
    }

    .main-container {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}